// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$transitionTimingSlow: all ease-in-out 0.35s;
$transitionTimingFast: all ease-in-out 0.2s;
$light: #ffffff;


// Declaration of colors
$ashGray: #B4B8AB;
$prussianBlue: #153243; // Dark blue 3AAA
$indigoDye: #284B63; // Dark blue 2AA
$lightIvory: #F4F9E9; // Light beige-like
$alabaster: #EEF0EB; // Lighter grey-like
