// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  p {
    font-size: 20px;
    color: white;
    opacity: .7;
  }

  .title {
    font-family: 'montserrat', sans-serif;
  }

  a {
    text-decoration: none;
  }
}

.navbar-lewagon .navbar-brand img {
  width: 125px;
}



// ABOUT US

#about-us {
  background-color: #21201E;
  color: white;
}


// footer
.container-fluid.background-purple {
	background: #270c4a;
}

// Banner
h1.title {
	font-family: 'montserrat', sans-serif;
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 600;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	background: asset_url("back.png");
	background-clip: text;
	background-position: 0 0;
	animation: back 20s linear infinite;
}

@keyframes back {
	100% {
		background-position: 2000px 0;
	}
}
.text-cursive  {
	font-family: $tertiaryFont;
	font-size: 40px !important;
	color: white !important;
	z-index: 10 !important;
	opacity: 1 !important;
	border-left: 10px solid white;
	padding: 1rem 0 0 1.5rem;
}

.text-montserrat {
	font-family: $primaryFont;
	position: relative;
}
.purple-text {
	color: #3b146f;
}
.text-gras {
	font-weight: 600;
  font-size: 3rem;
}
.custom-text {
	font-size: 1.2rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Raleway';
}


body {
	background-color: #f1f1f159 !important;
}
