.squared-design, .form-label.text.required {
	color: #560b63;
    font-family: $primaryFont;
    background: #9c27b021;
    display: inline-flex;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
}
.paragraph {
	font-family: 1.1rem;
	font-family: $secondaryFont;
	font-weight: 400;
	line-height: 1.4;
}
