
<div class="container-fluid background-purple footer">
	<div class="row">
		<div class="col-md-12 text-center flex-center flex-direction-column">
			<p class="margBott2 margTop2 text-white">© 2022 BetterDev | All Rights Reserved | Powered by TeamBetterDev <i class="fa-solid fa-heart"></i></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center flex-center">
			<p class="text-center flex-direction-row text-white ">
			<a href="/"><i class="hover-effect text-white  fa-solid fa-house"></i></a>	&nbsp; <a href="https://www.github.com" target="_blank"><i class="hover-effect text-white fa-brands fa-github"></i></a> &nbsp;<a href="https://www.facebook.com" target="_blank"><i class="hover-effect text-white fa-brands fa-facebook"></i></a> &nbsp;
				 <a href="https://www.instagram.com"><i class="hover-effect text-white fa-brands fa-instagram"></i> </a>
			</p>
		</div>
	</div>
</div>
