.navbar-lewagon .navbar-brand img {
	width: 70px !important;
	height: 40px !important;
}

.navbar-lewagon {
	justify-content: space-between;
	background: white;
	padding: 17px 0px 9px 0;
	position: fixed;
	width: 100%;
	z-index: 10;

	.navbar-collapse {
		flex-grow: 0;
	}

	.navbar-brand img {
		width: 40px;
	}
}


.menu {
	.hover-transform img {
		transform: scale(1);
		transition: $transitionTimingFast;

		&:hover {
			transform: scale(0.95);
			transition: $transitionTimingFast;
		}
	}
}

.nav-item.active {
	position: relative;

	a.nav-link.hover-animation {
		color: $gray;
		font-family: $primaryFont;
		font-weight: 400;
		font-size: 1rem;
		letter-spacing: 1.2px;
		text-transform: uppercase;

		&:before {
			position: absolute;
			content: '';
			background: rgba(255, 0, 0, 0.472);
			bottom: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 50%;
			height: 2px;
			transition: $transitionTimingFast;
		}

		// Hover state
		&:hover {
			&:before {
				position: absolute;
				content: '';
				background: $prussianBlue;
				bottom: 0;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 50%;
				height: 2px;
				transition: $transitionTimingFast;
			}
		}
	}
}

.nav-item {
	position: relative;

	a.nav-link.hover-animation {
		color: $gray;
		font-family: $primaryFont;
		font-weight: 400;
		font-size: 1rem;
		letter-spacing: 1.2px;
		text-transform: uppercase;

		&:before {
			position: absolute;
			content: '';
			background: $prussianBlue;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 0%;
			height: 2px;
			transition: $transitionTimingFast;
		}

		// Hover state
		&:hover {
			&:before {
				position: absolute;
				content: '';
				background: $prussianBlue;
				bottom: 0;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 50%;
				height: 2px;
				transition: $transitionTimingFast;
			}
		}
	}
}


.sliding-name {
	display: flex;
	flex-direction: row;
	align-items: baseline;

	.image {
		display: flex;
		z-index: 2;

		.text {
			display: flex;
			align-items: flex-end;
			color: $gray;
			font-family: $secondaryFont;
			text-transform: uppercase;
			z-index: 1;
			transform: translate(-15rem, 8px);
			transition: $transitionTimingSlow;

			b {
				text-transform: uppercase;
				color: $indigoDye;
				letter-spacing: 0.4px;
				font-family: $primaryFont;
			}
		}

		&:hover {
			.text {
				transform: translate(-1.1rem, 8px);
				transition: $transitionTimingSlow;
			}
		}
	}
}